
.box-area .card{
    border:none;
    transition:0.5s;
    animation:ease-in-out;
    overflow:hidden;
    background-color:#fff;
    box-shadow: 0 5px 13px 0px #9292927a;
    border-bottom-left-radius:40px 40px;
    border-top-right-radius:40px 40px;
}
